tests/data/btrfs-default.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-compression.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-sparse.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-subvolume.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-subvolume-snapshot.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-subvolume-nested.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-subvolume-custom-default.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-dup-1.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-dup-2.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid0-1.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid0-2.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid1-1.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid1-2.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid1c3-1.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid1c3-2.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid1c3-3.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid1c4-1.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid1c4-2.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid1c4-3.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid1c4-4.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid10-1.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid10-2.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid5-1.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid5-2.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid6-1.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid6-2.bin.gz filter=lfs diff=lfs merge=lfs -text
tests/data/btrfs-raid6-3.bin.gz filter=lfs diff=lfs merge=lfs -text
